.body3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $Verydarkviolet;
}

.main3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $Verydarkviolet;
}

.header3{

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $Lightyellow;
    p{
        text-transform: uppercase;
        margin: 26px 0 0 0;
    }
    .theme-container{
        display: flex;
        font-weight: 600;
        font-size: 16px;
    }
    .label-container{
        letter-spacing: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-left: 15px;
    } 
    .slider3 {
        -webkit-appearance: none;
        width: 70px;
        height: 25px;
        border-radius: 25px;
        background: $Verydarkviolet2;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
      
    .slider3:hover {
        opacity: 1;
    }
      
    .slider3::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        border: 3px solid $Verydarkviolet2;
        background: $Red;
        cursor: pointer;
    }
      
    .slider3::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: $Verydarkviolet2;
        cursor: pointer;
    }
}

.calc-container3{
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 328px;
    height: 90px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: $Verydarkviolet2;
    .previous-operand3{
        margin-top: 10px;
        padding: 10px;
        background-color: transparent;
        width: 80%;
        height: 30%;
        font-size: 32px;
        font-weight: 600;
        color: $Verydarkgrayishyellow;
        text-align: right;
        font-size: 20px;
    }
    .current-operand3{
        background-color: transparent;
        width: 80%;
        height: 70%;
        font-size: 32px;
        font-weight: 600;
        color: $Verydarkgrayishyellow;
        text-align: right;
    }
}

.buttons-background3{
    background-color: $Verydarkviolet2;
}

.button3{
    color: $Lightyellow;
    background: $Verydarkviolet;
    box-shadow: 0px 5px 0px $Darkmagenta;
    &:nth-child(4){
        color: $White;
        background-color: $Darkviolet;
        box-shadow:0px 5px 0px $Vividmagenta;
    }
    &:nth-child(17){
        color: $White;
        background-color: $Darkviolet;
        box-shadow:0px 5px 0px $Vividmagenta;
    }
    &:nth-child(18){
        color: $White;
        background-color: $Purecyan;
        box-shadow:0px 5px 0px $Softcyan;
    }
    
}