@import '_colors';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $MainBackground;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $MainBackground;
}

.header{
    
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $White;
    p{
        text-transform: uppercase;
        margin: 26px 0 0 0;
    }
    .theme-container{
        display: flex;
        font-weight: 600;
        font-size: 16px;
    }
    .label-container{
        letter-spacing: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-left: 15px;
    } 
    .slider {
        -webkit-appearance: none;
        width: 70px;
        height: 25px;
        border-radius: 25px;
        background: $ToggleBackground;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    .slider:hover {
        opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        border: 3px solid $ToggleBackground;
        background: $Red;
        cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: $ToggleBackground;
        cursor: pointer;
    }
}

.calc-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: calc(min(87vw, 528px));
    height: 90px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: $ToggleBackground;
    .previous-operand{
        margin-top: 10px;
        padding: 10px;
        background-color: transparent;
        width: 80%;
        height: 30%;
        font-size: 32px;
        font-weight: 600;
        color: $White;
        text-align: right;
        font-size: 20px;
    }
    .current-operand{
        background-color: transparent;
        width: 80%;
        height: 70%;
        font-size: 32px;
        font-weight: 600;
        color: $White;
        text-align: right;
    }
}

.buttons-background{
    width: calc(min(87vw, 528px));
    // width: 328px;
    height: 423px;
    border-radius: 5px;
    background-color: $ToggleBackground;
    .buttons-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 13px 17px;
        padding: 24px;
        .button{
            border: none;
            color: $Verydarkgrayishblue;
            font-weight: 600;
            font-size: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;
            border-radius: 5px;
            background: $KeyBackground1;
            box-shadow: 0px 5px 0px $KeyShadow1;
            &:nth-child(4){
                text-transform: uppercase;
                font-size: 18px;
                color: $White;
                background-color: $KeyBackground2;
                box-shadow:0px 5px 0px $KeyShadow2;
            }
            &:nth-child(17){
                color: $White;
                background-color: $KeyBackground2;
                box-shadow:0px 5px 0px $KeyShadow2;
            }
            &:nth-child(18){
                color: $White;
                background-color: $Red;
                box-shadow:0px 5px 0px $Darkred;
            }
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }
        .button2{
            color: $Verydarkgrayishyellow;
            background: $Lightgrayishyellow;
            box-shadow: 0px 5px 0px $Darkgrayishorange;
            &:nth-child(4){
                color: $White;
                background-color: $Darkmoderatecyan;
                box-shadow:0px 5px 0px $Verydarkcyan;
            }
            &:nth-child(17){
                color: $White;
                background-color: $Darkmoderatecyan;
                box-shadow:0px 5px 0px $Verydarkcyan;
            }
            &:nth-child(18){
                color: $White;
                background-color: $Orange;
                box-shadow:0px 5px 0px $Darkorange;
            }
            
        }
        .button3{
            color: $Lightyellow;
            background: $Verydarkviolet;
            box-shadow: 0px 5px 0px $Darkmagenta;
            &:nth-child(4){
                color: $White;
                background-color: $Darkviolet;
                box-shadow:0px 5px 0px $Vividmagenta;
            }
            &:nth-child(17){
                color: $White;
                background-color: $Darkviolet;
                box-shadow:0px 5px 0px $Vividmagenta;
            }
            &:nth-child(18){
                color: $White;
                background-color: $Purecyan;
                box-shadow:0px 5px 0px $Softcyan;
            }
            
        }
        
        #equal{
            grid-column: 3/5;
        }
        #reset{
            grid-column: 1/3;
        }
    }
}


@import '_theme2';
@import'_theme3';


@media (min-width:800px) {
    .calc-container{
        height: 150px;
    }
}