@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    margin: 100px 0px;
    padding: 0;
    list-style: none;
    color: $gray;
    li{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 86vw;
        max-width: 516px;
    }
    h2{
        font-family: 'Big Shoulders Display';
        text-transform: uppercase;
        font-size: 2.4em;
    }
    p{
        font-family: 'Lexend Deca';
        line-height: 1.7em;
        font-size: 0.9em;
        color: $white;
    }
}



.contentwrap{
    padding-top: 3.0em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.card1{
    border: 1px solid $orange;
    border-radius: 10px 10px 0px 0px;
    background: $orange;
   .b-text{
       color: $orange;
   }
   .button1{
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 24px 0px 46px;
       width: 150px;
       height: 48px;
       border-radius: 3em;
       background: $gray;
   }
}

.card2{
    border: 1px solid $cyan;
    background: $cyan;
    .b-text{
        color: $cyan;
    }
    .button2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px 0px 46px;
        width: 150px;
        height: 48px;
        border-radius: 3em;
        background: $gray;
    }
 }

.card3{
    border: 1px solid $darkcyan2;
    border-radius: 0px 0px 10px 10px;
    background: $darkcyan2;
    .b-text{
        color: $darkcyan2;
    }
    .button3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px 0px 46px;
        width: 150px;
        height: 48px;
        border-radius: 3em;
        background: $gray;
    }
 }

@media(min-width: 1200px) {
    ul{
        top: 80px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 59vw;
    }
    
    .contentwrap{
        padding-top: 3.0em;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 64%;
    }

    .card1{
        border-radius: 10px 0px 0px 10px;
        .button1{
            margin-top: 5.125rem;
        }
    }
    .card2{
        .button2{
            margin-top: 5.125rem;
        }
    }
    .card3{
        border-radius: 0px 10px 10px 0px;
        .button3{
            margin-top: 5.125rem;
        }
    }
}