@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

@import './colors';
@import './header';
@import './media950';

// html{
//     scroll-behavior: smooth;
// }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100%;

    font-family: 'Alata';

}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    color: $White;
    .h-container1{
        max-width: 1100px;
        padding: 0 7px;
        margin: 0 auto;
        height: 160px;
        .h-container2{
            height: 100%;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                font-size: 2.25rem;
                a{
                    text-decoration: none;
                    color: $White;
                }
            }
            .nav-links{
                width: 40%;
                .links{
                    display: flex;
                    justify-content: space-around;
                    list-style: none;
                    
                    a{
                        color: $White;
                        text-decoration: none;
                        &:hover{
                            border-bottom: 1px solid $White;
                            padding-bottom: 6px;
                            transition: 0.2s ease-in;
                        }
                    }
                }
            }
            .none{
                display: none;
            }
        }
    }
}
main {
    height: 650px;
    max-width: 1440px;

    margin: 0 auto;

    color: $White;

    background-image: url(images/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
    .m-container{
        max-width: 1100px;
        padding: 0 7px;
        margin: 0 auto;
        position: relative;
        top: 224px;
        .main-box{
            position: relative;
    
            width: 650px;
            height: 280px;
            border: 1px solid $White;
            &:hover{
                border: 1px solid $DarkGray;
                transition: 0.2s;
            }
    
            h1{
                font-family: 'Josefin Sans';
                font-weight: 300;
                font-size: 70px;
                line-height: 1;
                text-transform: uppercase;
                margin-left: 29px;
                margin-right: 110px;
            }
        }
    }
}
#section1{
    max-width: 1100px;
    padding: 0 7px;
    height: 800px;
    margin: 0 auto;
    .sec1-container{
        position: relative;
        img{
            position: absolute;
            top: 160px;
            width: 730px;
            height: 500px;
            &:hover{
                transform: scale(1.02);
                transition: 0.2s ease-in;
            }
        }
        .text-content{
            background-color: $White;
            position: absolute;
            top: 340px;
            right: 0;
            padding-top: 100px;
    
            width: 48%;
            h2{
                font-family: 'Josefin Sans';
                font-size: 46px;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                margin-left: 18%;
            }
            p{
                font-family: 'Alata';
                font-size: 16px;
                letter-spacing: -0.5px;
                margin-left: 97px;
            }
        }
    }
}
#section2{
    max-width: 1115px;
    padding: 0 7px;
    margin: 0 auto;
    .header{
        display: flex;
        justify-content: space-between;
        height: 135px;
        h3{
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-family: 'Josefin Sans';
            font-size: 3rem;
        }
        div{
            text-transform: uppercase;
            width: 160px;
            height: 45px;
            background-color: $Black;
            color: $White;
            
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                cursor: pointer;
                background-color: $White;
                color: $Black;
                border: 1px solid $DarkGray;
                transition: 0.1s;
            }
        }
    }
    .sec2-container{
        position: relative;
        display: grid;
        justify-content: center;
        gap: 30px;
        margin-bottom: 180px;
        .card{
            position: relative;
        }
        .cardp{
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 37px;
            left: 41px;
            color: $White;
            font-family: 'Josefin Sans';
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
    #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8 {
        &:hover{
            cursor: pointer;
            img{
                opacity: 0.5;
                transform: scale(1.01);
            }
            p{
                color: $Black;
            }
        }
      }
}
.grid-auto{
    grid-template-columns: repeat(auto-fit, 256px);
}
footer{
    height: 160px;
    background-color: $Black;
    color: $White;
    display: flex;
    align-items: center;
    .fcontainer{
        margin: 0 auto;
        width: 1100px;
        padding: 0 7px;
        .grid{
            max-width: 1100px;
            padding: 0 7px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }
    }
    .flinks{
        display: flex;
        flex-direction: column;
        width: 100%;
        ul{
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top: 20px;
            a{
                color: $White;
                text-decoration: none;
                margin-right: 26px;
                &:hover{
                    border-bottom: 1px solid $White;
                    padding-bottom: 6px;
                    transition: 0.2s ease-in;
                }
            }
        }
    }
    .icons-container{
        fill: $White;
    }
    .icons{
        display: inline;
        text-align: end;
        #icon1, #icon2, #icon3, #icon4{
            margin-right: 17px;
            &:hover{
                cursor: pointer;
            }
        }
        #icon4{
            margin: 0;
        }
    }
}
