@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
.scrolling-active {
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scrolling-height {
  max-height: 100px;
}

@media (max-width: 940px) {
  .hamburguer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 30px;
  }
  .hamburguer:hover {
    cursor: pointer;
  }
  .hamburguer .line1, .hamburguer .line2, .hamburguer .line3 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: white;
    height: 1px;
    width: 25px;
  }
  .active .line1 {
    -webkit-transform: translate(-4px, 10px) rotate(45deg);
            transform: translate(-4px, 10px) rotate(45deg);
  }
  .active .line2 {
    opacity: 0;
  }
  .active .line3 {
    -webkit-transform: translate(-4px, -10px) rotate(-45deg);
            transform: translate(-4px, -10px) rotate(-45deg);
  }
  .links {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    border: 1px solid black;
    background-color: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .links-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: 'Alata';
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  color: white;
}

header .h-container1 {
  max-width: 1100px;
  padding: 0 7px;
  margin: 0 auto;
  height: 160px;
}

header .h-container1 .h-container2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .h-container1 .h-container2 .logo {
  font-size: 2.25rem;
}

header .h-container1 .h-container2 .nav-links {
  width: 40%;
}

header .h-container1 .h-container2 .nav-links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header .h-container1 .h-container2 .nav-links .links a {
  color: white;
  text-decoration: none;
}

header .h-container1 .h-container2 .none {
  display: none;
}

main {
  height: 650px;
  max-width: 1440px;
  margin: 0 auto;
  color: white;
  background-image: url(images/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
}

main .m-container {
  max-width: 1100px;
  padding: 0 7px;
  margin: 0 auto;
  position: relative;
  top: 224px;
}

main .m-container .main-box {
  position: relative;
  width: 650px;
  height: 280px;
  border: 1px solid white;
}

main .m-container .main-box h1 {
  font-family: 'Josefin Sans';
  font-weight: 300;
  font-size: 70px;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 29px;
  margin-right: 110px;
}

#section1 {
  max-width: 1100px;
  padding: 0 7px;
  height: 800px;
  margin: 0 auto;
}

#section1 .sec1-container {
  position: relative;
}

#section1 .sec1-container img {
  position: absolute;
  top: 160px;
  width: 730px;
  height: 500px;
}

#section1 .sec1-container .text-content {
  background-color: white;
  position: absolute;
  top: 340px;
  right: 0;
  padding-top: 100px;
  width: 48%;
}

#section1 .sec1-container .text-content h2 {
  font-family: 'Josefin Sans';
  font-size: 46px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-left: 18%;
}

#section1 .sec1-container .text-content p {
  font-family: 'Alata';
  font-size: 16px;
  letter-spacing: -0.5px;
  margin-left: 97px;
}

#section2 {
  max-width: 1115px;
  padding: 0 7px;
  margin: 0 auto;
}

#section2 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 135px;
}

#section2 .header h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
  font-size: 3rem;
}

#section2 .header div {
  text-transform: uppercase;
  width: 160px;
  height: 45px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section2 .sec2-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-bottom: 180px;
}

#section2 .sec2-container .card {
  position: relative;
}

#section2 .sec2-container .cardp {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 37px;
  left: 41px;
  color: white;
  font-family: 'Josefin Sans';
  font-size: 2rem;
  text-transform: uppercase;
}

.grid-auto {
  -ms-grid-columns: (256px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 256px);
}

footer {
  height: 160px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .fcontainer {
  margin: 0 auto;
  width: 1100px;
  padding: 0 7px;
}

footer .fcontainer .grid {
  max-width: 1100px;
  padding: 0 7px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

footer .flinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

footer .flinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .flinks ul a {
  color: white;
  text-decoration: none;
  margin-right: 26px;
}

footer .icons-container {
  fill: white;
}

footer .icons {
  display: inline;
  text-align: end;
}

@media (max-width: 940px) {
  #section1 {
    min-height: 850px;
  }
}

@media (max-width: 555px) {
  .sec1-container {
    position: static;
  }
  img {
    position: static;
  }
  #img-grid-1, #img-grid-2, #img-grid-3, #img-grid-4, #img-grid-5, #img-grid-6, #img-grid-7, #img-grid-8 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */