@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
header #arrow {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: updown;
          animation-name: updown;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes updown {
  0% {
    margin-top: 0%;
  }
  50% {
    margin-top: 10%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes updown {
  0% {
    margin-top: 0%;
  }
  50% {
    margin-top: 10%;
  }
  100% {
    margin-top: 0%;
  }
}

header {
  height: 64vh;
}

header #we {
  color: white;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 5px;
  position: absolute;
  width: 99vw;
  max-width: 1440px;
  height: 80%;
  top: 14%;
  text-align: center;
}

header .background {
  position: absolute;
  background-image: url(./images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 64vh;
  width: 100vw;
  z-index: -1;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 84px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 22px;
}

header nav .logo {
  font-family: 'Barlow';
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 800;
  color: white;
}

header nav .hamburguer {
  display: none;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  list-style: none;
}

header nav ul a {
  font-family: 'Barlow';
  font-size: 18px;
  color: white;
  text-decoration: none;
}

header nav ul a span {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: 'Fraunces';
  color: black;
}

header nav ul a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #fad400;
          text-decoration-color: #fad400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav ul a:last-child {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: white;
  text-decoration: none;
}

header nav ul a:last-child:hover {
  background-color: #fad400;
}

@media (max-width: 800px) {
  .nav-links {
    position: fixed;
    right: 0;
    top: 110px;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 35vh;
    width: 80vw;
    margin-right: 10vw;
    background-color: white;
    -webkit-transform: translateX(115%);
            transform: translateX(115%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links a {
    color: #818498;
  }
  .nav-links a:last-child {
    background-color: #fad400;
  }
  .nav-links::before {
    position: absolute;
    top: -30px;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 15px solid white;
    border-right: 15px solid white;
  }
  .show-nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  header nav {
    margin: 0;
    padding-right: 22px;
    padding-left: 22px;
    background-color: #3EBFFF;
  }
  header nav .hamburguer {
    display: block;
  }
  header nav .hamburguer:hover {
    cursor: pointer;
  }
}

/*
html{
    scroll-behavior: smooth;
}
*/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fraunces';
}

.text-container {
  color: #23303e;
  padding: 61px 22px 58px;
}

.text-container h2 {
  font-size: 2em;
}

.text-container p {
  line-height: 30px;
  padding-top: 30px;
  font-family: 'Barlow';
  font-size: 1.1250em;
  font-weight: 400;
}

.text-container span {
  text-transform: uppercase;
  font-family: 'Fraunces';
}

#section1 {
  text-align: center;
}

#section1 #sec1-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
}

#section1 #sec1-img img {
  width: 100%;
}

#section2 {
  color: #23303e;
  text-align: center;
}

#section2 #sec1-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
}

#section2 #sec1-img img {
  width: 100%;
}

#section3 {
  line-height: 30px;
}

#section3 h2 {
  font-size: 2em;
}

#section3 p {
  font-size: 1.1250em;
  font-family: 'Barlow';
}

#section3 #text-container {
  text-align: center;
  padding: 378px 29px 0px;
}

#section3 #content1 {
  color: #25564b;
  background-image: url(images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
  z-index: -1;
}

#section3 #content2 {
  color: #19536b;
  background-image: url(images/mobile/image-photography.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
  z-index: -1;
}

#section4 {
  color: #23303e;
}

#section4 h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding-top: 65px;
  padding-bottom: 0;
  opacity: 0.7;
  letter-spacing: 3px;
}

#section4 #prof1 {
  text-align: center;
  line-height: 29px;
}

#section4 #prof1 h2 {
  padding: 53px 47px 0px;
}

#section4 #prof1 img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 72px 0px 59px;
}

#section4 #prof1 p {
  font-family: 'Barlow';
  padding: 0px 28px 8px;
}

#section4 #prof2 {
  text-align: center;
  line-height: 29px;
}

#section4 #prof2 h2 {
  padding: 53px 47px 0px;
}

#section4 #prof2 img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 72px 0px 59px;
}

#section4 #prof2 p {
  font-family: 'Barlow';
  padding: 0px 28px 8px;
}

#section4 #prof3 {
  text-align: center;
  line-height: 29px;
}

#section4 #prof3 h2 {
  padding: 53px 47px 0px;
}

#section4 #prof3 img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 72px 0px 59px;
}

#section4 #prof3 p {
  font-family: 'Barlow';
  padding: 0px 28px 8px;
}

#section4 #prof3 p:last-child {
  padding-bottom: 102px;
}

#secgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#secgrid img {
  width: 50%;
  display: block;
}

footer {
  background-color: #90d4c5;
  color: #25564b;
  font-family: 'Barlow';
  text-align: center;
}

footer .flogo {
  font-weight: 800;
}

footer div {
  padding: 56px 0px 42px;
  font-size: 35px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

footer ul li {
  color: #25564b;
  font-weight: 600;
  font-size: 1.2rem;
}

footer ul li:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer #icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

footer #icons a img {
  margin-right: 30px;
}

footer #icons a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer #icons a img:last-child {
  padding: 0;
}

@media (min-width: 800px) {
  body {
    overflow-x: hidden;
  }
  section {
    max-width: 1440px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    max-width: 1440px;
    height: 80vh;
  }
  header .background {
    background-image: url(images/desktop/image-header.jpg);
    height: 100%;
    width: 100%;
  }
  header nav {
    height: 113px;
    margin: 0px 37px;
  }
  header nav .logo {
    font-size: 2.2rem;
  }
  #section1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #section1 .text-container {
    padding: 17.36% 16.6% 20.83% 22.2%;
  }
  #section1 .text-container h2 {
    font-size: 2.475rem;
    font-weight: 800;
    margin-bottom: 7.2%;
  }
  #section1 .text-container p {
    margin: 0;
    padding: 0;
  }
  #section1 .text-container p:last-child {
    padding-top: 7.9%;
  }
  #section1 div:nth-child(1) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  #section1 div:nth-child(1) img {
    height: 100%;
  }
  #section1 div:nth-child(1) img:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  #section1 div:nth-child(2) {
    text-align: left;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #section2 {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #section2 img {
    height: 100%;
  }
  #section2 img:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  #section2 .text-container {
    padding: 17.16% 22.6% 20.83% 15.8%;
  }
  #section2 .text-container h2 {
    font-size: 2.475rem;
    font-weight: 800;
    margin-bottom: 7.2%;
  }
  #section2 .text-container p {
    margin: 0;
    padding: 0;
  }
  #section2 .text-container p:last-child {
    padding-top: 7.9%;
  }
  #section3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1;
        grid-template-rows: 1;
  }
  #section3 #content1 {
    background-image: url(images/desktop/image-graphic-design.jpg);
    width: 100%;
    height: 100%;
  }
  #section3 #text-container {
    padding-right: 25%;
    padding-left: 25%;
    padding-bottom: 5.13%;
  }
  #section3 #text-container h2 {
    font-size: 1.8rem;
    margin-bottom: 4.4%;
  }
  #section3 #text-container p {
    line-height: 1.8rem;
    font-size: 1rem;
  }
  #section3 #content2 {
    background-image: url(images/desktop/image-photography.jpg);
    width: 100%;
    height: 100%;
  }
  #section4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% (1fr)[3] 10%;
        grid-template-columns: 10% repeat(3, 1fr) 10%;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
  }
  #section4 h2 {
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 1;
    grid-row: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.3rem;
    margin-top: 158px;
    margin-bottom: 0px;
  }
  #section4 #prof1 img, #section4 #prof2 img, #section4 #prof3 img {
    margin-top: 78px;
    margin-bottom: 50px;
  }
  #section4 #prof1 p, #section4 #prof2 p, #section4 #prof3 p {
    line-height: 32px;
    font-size: 17px;
    margin-top: 0px;
  }
  #section4 #prof1 h3, #section4 #prof2 h3, #section4 #prof3 h3 {
    margin-top: 56px;
    margin-bottom: 0px;
  }
  #section4 #prof1:hover, #section4 #prof2:hover, #section4 #prof3:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  #section4 div:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #section4 div:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #section4 div:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #secgrid img {
    display: block;
    width: 25%;
  }
  footer {
    background-color: #90d4c5;
  }
  footer .flogo {
    padding-top: 66px;
    margin: 0;
  }
  footer ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    margin: 0;
    padding-top: 38px;
  }
  footer li {
    margin-right: 62px;
  }
  footer #icons a img {
    padding: 100px 0px 84px;
  }
}
/*# sourceMappingURL=style.css.map */